apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "todo-chatbot.backend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.backend.service.type }}
  selector:
    app: backend
  ports:
  - name: http
    port: {{ .Values.backend.service.port }}
    targetPort: 8000
    protocol: TCP
  sessionAffinity: None
