apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: todo-app
data:
  config.yaml: |
    metrics: 0.0.0.0:2000
    no-autoupdate: true

    ingress:
      - service: http://frontend-service:3000
